body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    /* Width seemed odd, however it was stated in instructions */
    font-size: 18px;
    text-align: center;
}

header,nav,section,aside,footer {
    background: #ebebeb;
    border: solid;
}

header {
    padding: 50px;
    margin: 5px;
}

nav {
    padding: 50px;
    margin: 5px;
}

article {
    color: #ebebeb;
    background: #777;
    margin-left: 15px;
    margin-right: 15px;
    height: 150px;
    padding: 10px;
}

h1,p {
    color: #777;
    background: #ebebeb;
}

p {
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}

section {
    height: 200px;
    width: 495px;
    float: left;
    margin-left: 3px;
    padding: 20px;
    border-right-width: 15px;
}


aside {
    height: 200px;
    margin-right: 5px;
    padding: 20px;
}

footer {
    clear: both;
    padding: 50px;
    margin-top: 10px;
}
